.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App {
  color: white;
  text-align: center;
  background-color: #192655;
}


.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.firstSection>div {
  width: 50%;
}

.leftSection {
  font-size: 3rem;
  font-weight: normal; 
}

.leftSectiondiv{
  font-size: 3.5rem;
}

.rightSection img {
  max-width: 120%;
}
.card {
  background-color: #3876BF;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.Projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #192655;
  color: white;
  padding: 10px 0;
} */
